.amazon{
  border: none;
  padding: 10px 45px;
  border-radius: 22.5px;
  background-color: rgb(255,216,20);
  font-size: 20px;
}
.uber-req{
  padding: 15px;
  border-radius: 5px;
  border: none;
  background-color: black;
  color: white;
  font-weight: bold;
  margin-right: 10px;
}
.uber-schedule{
  padding: 15px;
  border-radius: 5px;
  border: none;
  background-color: rgb(230,230,230);
  font-weight: bold;
}
.game{
  padding: 15px;
  border-radius: 5px;
  border: none;
  background-color: rgb(230,230,230);
}

.btn-dark{
  background-color: black;
  color: white;
}